<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.tuares.cars"
	android:versionCode="1"
	android:versionName="1.0"
	android:installLocation="internalOnly">

	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<application android:icon="@drawable/sf__icon"
	    android:label="@string/app_name"
		android:name=".MainApplication"
		android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity">

		<!-- Launcher screen -->
		<activity android:name="org.tuares.cars.ui.MainActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Detail screen -->
		<activity android:name="org.tuares.cars.ui.DetailActivity"
			android:theme="@style/AppTheme">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>


		<!-- Data sync service -->
		<service android:name="org.tuares.cars.sync.DataSyncService"
			android:exported="true"
			android:process=":sync">
			<intent-filter>
				<action android:name="android.content.SyncAdapter"/>
			</intent-filter>
			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/data_sync_adapter" />
		</service>

		<!-- Dummy data provider -->
		<provider android:name="org.tuares.cars.sync.DummyContentProvider"
			android:authorities="org.tuares.cars.sync.DataSyncAdapter"
			android:exported="true"
			android:syncable="true"
			android:enabled="true"
			android:label="Sync Data" />


		<!-- Launcher screen -->
    </application>

    <uses-sdk android:minSdkVersion="23"
        android:targetSdkVersion="25" />

    <!--
        GCM permission to ensure that only this application can
        receive the messages and registration result. This must be of
        the format <app-package-name>.C2D_MESSAGE for it to work.
    -->
    <permission android:name="org.tuares.cars.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.tuares.cars.C2D_MESSAGE" />
</manifest>
